@font-face {
  font-family: 'BentonSans Bold';
  src: url('https://cdn.popupsmart.com/brand-kit/959248/fonts/BentonSans Bold/BentonSans Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
